<!-- Toolbar -->
<mat-toolbar color="secondary" class="cd-auto-hide-header">

  <div><a href="https://www.google.com" target="_blank" class="Event"> Event Management System</a></div>
  
  
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button routerLink="register" routerLinkActive="active" >Register</a>
    
    <a mat-button  routerLink="adminlogin" routerLinkActive="active" >Admin</a>
    <a mat-button routerLink="aboutus" routerLinkActive="active" >About Us</a>
    <a mat-button routerLink="contactus" routerLinkActive="active" >Contact Us</a>
    
  </span>

  

  
</mat-toolbar>




<router-outlet></router-outlet>